<!DOCTYPE html>
<html>
<script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="/Public/layui/css/layui.css">
<script src="/Public/layui/layui.js"></script>
<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
<style>
#mydeck{
	width:48%;
	float:left;
	margin:10px;
	border:1px solid red;
}
#cardlist{
	width:48%;
	float:left;
	margin:10px;
	border:1px solid green;
}
.iconcolor{
	color: rgb(255, 140, 60);
}
.quantity{
	width:18px;
	height:25px;
	float:left;
	text-align:center;
	//background-color:grey;
	border:1px solid black;
}
</style>
<div id="mydeck">
	<table id="mydecktable">
		<tr><td id="num">1</td><td>x <span class="glyphicon glyphicon-user iconcolor"></span><a href="#"> 测试卡牌A的名字</a></td></tr>
	</table>	
</div>
<div id="cardlist">
	<table class="table table-striped table-bordered">
		<tr><td>数量</td><td>名称</td></tr>
		<tr><td>
			<div class="quantity" onclick="javascript:adddeck(0)">0</div>
			<div class="quantity" onclick="javascript:adddeck(1)">1</div>
			<div class="quantity" onclick="javascript:adddeck(2)">2</div>
			<div class="quantity" onclick="javascript:adddeck(3)">3</div>
		</td></tr>
</div>
<script>
function adddeck(id){
	//插入一行
	var newTr = mydecktable.insertRow();
	alert(id);
	//在新行中，插入数量列
	var numTd = newTr.insertCell();
	//在新行中，插入名称列
	var nameTd = newTr.insertCell();
	numTd.innerHTML ='<td id="num">'+id+'</td>';
	nameTd.innerHTML ='<td>x <span class="glyphicon glyphicon-user iconcolor"></span><a href="#'+id+'"> 测试卡牌A的名字</a></td>';
}
</script>
</html>
