<!DOCTYPE html>
<html>
<script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
<style>
#img{
	width:200px;
	float:left;
	margin:10px;
}
#text{
	width:340px;
	float:left;
	margin:10px;
}

</style>
<div>
	<img id="img" src="/Public/img/{$card.imgurl}"/>
</div>
<div id="text">
	<table class="table table-striped table-bordered">
	<tr class="danger"><td>名称：</td><td>{$card.name}</td></tr>
	<tr class="warning"><td>氏族：</td><td>{$card.clan}</td></tr>
	<tr class="warning"><td>类型：</td><td>{$card.type}</td></tr>
	<tr class="warning"><td>特性：</td><td>{$card.traits}</td></tr>
	<tr class="warning"><td>牌组：</td><td>{$card.deck}</td></tr>
	<tr class="warning"><td>费用：</td><td>{$card.cost}</td></tr>	
</div>

</html>
